/*! RTL Stylesheet v0.5.0 | <[THEME NAME]> | http://www.machinathemes.com/themes/<[theme-name]> */

/*---------------------------------------------------------------------------*\
RTL Stylesheet - <[THEME NAME]>

version 0.5.0
@package <[THEME NAME]>
@subpackage Stylesheets

Description: Adding support for language written in a Right To Left (RTL) direction.
See: http://codex.wordpress.org/Right_to_Left_Language_Support

TABLE OF CONTENTS:
==================

1. Defaults
	-1.1 Typographical Elements
2. Structure & Layout
	- 2.1 Column Widths and Positions
	- 2.2 Column Classes
3. Common Classes
	- 3.1 WordPress
	- 3.2 ExMachina
	- 3.3 Jetpack
4. Site Header
	- 4.1 Title Area
	- 4.2 Widget Area
5. Site Navigation
6. Content Areas
	- 6.1 Entries
	- 6.2 Comments
7. Footer Widgets

\*---------------------------------------------------------------------------*/


/* $= 1.0 Defaults
============================================================================ */

/* #= 1.1 - Typographical Elements
--------------------------------------------- */
body {
	direction: rtl;
	unicode-bidi: embed;
}

blockquote::before {
	content: "\201D";
	left: auto;
	right: -20px;
}

/* $= 2.0 Structure & Layout
============================================================================ */

/* #= 2.1 - Column Widths and Positions
--------------------------------------------- */
/* Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap {
	float: right;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: left;
}

/* Content  */

.content {
	float: left;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: right;
}

/* Primary Sidebar */

.sidebar-primary {
	float: left;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: right;
}

/* Secondary Sidebar */

.sidebar-secondary {
	float: right;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: left;
}

/* #= 2.2 - Column Classes
--------------------------------------------- */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: right;
	margin-left: auto;
	margin-right: 2.564102564102564%;
}

.first {
	margin-left: auto;
	margin-right: 0;
}

/* $= 3.0 Common Classes
============================================================================ */

/* #= 3.1 - WordPress
--------------------------------------------- */
.avatar {
	float: right;
}

.alignleft .avatar {
	margin-left: 24px;
	margin-left: 2.4rem;
	margin-right: auto;
}

.alignright .avatar {
	margin-left: auto;
	margin-right: 24px;
	margin-right: 2.4rem;
}

.alignleft {
	float: right;
	text-align: right;
}

.alignright {
	float: left;
	text-align: left;
}

img.alignleft,
.wp-caption.alignleft {
	margin: 0 0 24px 24px;
	margin: 0 0 2.4rem 2.4rem;
}

img.alignright,
.wp-caption.alignright {
	margin: 0 24px 24px 0;
	margin: 0 2.4rem 2.4rem 0;
}

/* #= 3.2 - ExMachina
--------------------------------------------- */
.author-box .avatar {
	margin-left: 24px;
	margin-left: 2.4rem;
	margin-right: auto;
}

/* #= 3.3 - Jetpack
--------------------------------------------- */

/* $= 4.0 Site Header
============================================================================ */

/* #= 4.1 - Title Area
--------------------------------------------- */
.title-area {
	float: right;
}

/* Logo, hide text */

.header-image .site-header .wrap {
	background-position: right;
}

.header-image .site-title a {
	float: right;
}

/* #= 4.2 - Widget Area
--------------------------------------------- */
.site-header .widget-area {
	float: left;
	text-align: left;
}

.site-header .search-form {
	float: left;
}

/* $= 5.0 Site Navigation
============================================================================ */
.exmachina-nav-menu .menu-item {
	text-align: right;
}

.exmachina-nav-menu .sub-menu {
	right: -9999px;
	left: auto;
}

.exmachina-nav-menu .sub-menu .sub-menu {
	margin: -54px 199px 0 0;
}

.exmachina-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	right: auto;
}

.exmachina-nav-menu > .first > a {
	padding-left: 0;
	padding-right: 0;
}

.exmachina-nav-menu > .last > a {
	padding-left: 0;
	padding-right: 0;
}

.exmachina-nav-menu > .right {
	float: left;
}

.exmachina-nav-menu > .rss > a {
	margin-left: auto;
	margin-right: 48px;
	margin-right: 4.8rem;
}

/* $= 6.0 Content Areas
============================================================================ */

/* #= 6.1 - Entries
--------------------------------------------- */
.entry-content ol li,
.entry-content ul li {
	margin-left: auto;
	margin-right: 40px;
	margin-right: 4rem;
}

.entry-meta .entry-comments::before {
	margin: 0 2px 0 6px;
	margin: 0 0.2rem 0 0.6rem;
}

/* #= 6.2 - Comments
--------------------------------------------- */
#respond label {
	margin-left: 12px;
	margin-left: 1.2rem;
	margin-right: auto;
}

.comment-list li li {
	margin-left: -32px;
	margin-left: -3.2rem;
	margin-right: auto;
}

li.comment {
	border-left: none;
	border-right: none;
}

.comment .avatar {
	margin: 0 0 24px 16px;
	margin: 0 0 2.4rem 1.6rem;
}

/* $= 7.0 Footer Widgets
============================================================================ */
.footer-widgets-1 {
	margin-left: 40px;
	margin-left: 4rem;
	margin-right: auto;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: right;
}

.footer-widgets-3 {
	float: left;
}

